{% extends "base.html" %}
{%block head%}

    <div class="container">
        <h1 class="title">Edit Task</h1>
        <hr>
        <div class="container">
            <div class="edit-area">

                <form action="/edit/{{task.id}}" method="post">
                    <div class="mb-3">
                        <textarea type='text' id="task" class="field-edit" name='task'>{{task.task}}</textarea>
                        <div id="emailHelp" class="form-text">Edit todo then submit</div>
                    </div>
                    <div>
                        <button type="submit" class='submit-edit btn btn-primary'>
                            Submit
                        </button>
                        <a class='delete btn btn-danger' href="/delete/{{task.id}}">
                            Delete
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
        
                            <!-- <form action="/edit/{{task.id}}" method="post">
                                <textarea type='text' id="task" class="field" name='task'>{{task.task}}</textarea>
                                <a class='delete btn btn-sm btn-danger' href="/delete/{{task.id}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                                <button type="submit" class="submit btn btn-success">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </form> -->



{%endblock%}