{%extends "base.html" %}

{% block head %}
        <div class="container container-index">
        <h1 class="title">Todo App</h1>
        <div class="container container-index">
            <div class="container container-index white">
                <div>
                    <form action="/" method="post">
                        <input type="text" id="task" name='task' class="form-control field" required placeholder="Add a todo ...">
                        <button type="submit" class="submit">
                            <i class="fas fa-plus"></i>
                        </button>
                    </form>
                </div>
                <ol class="list-group list-group-numbered">
                    {% if tasks|length == 0 %}
                        <span class='text-center'>No data</span>

                    {% else %}
                        {% for task in tasks%}
                            <li class="list-group-item">
                                <a class="a-effects" href="/edit/{{task.id}}">{{task.task}}</a>
                                <a class="a-effects" href="/delete/{{task.id}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                    
                
                </ol>
            </div>
        </div>
        
    </div>
{%endblock%}
